
<app-search (searchEvent)="getListFiltered($event)" class="subheader"></app-search>

<app-filters   (filterEvent)="getListFiltered($event)" [listCategories]="listCategories"></app-filters>

<div class="wrapper">
  <br><br><br><br><br>
  <!-- Hay que crear una etiqueta con una classe con un margen de separación, para evitar el br br br br... -->

  <div class="view">
    <p>View as:</p>
    <a class="icon-grid" (click)="ShowList(true)"></a>
    <a class="icon-list" (click)="ShowList(false)"></a>
  </div>

  <div class="products category">
    <ul class={{classList}}>
      <li *ngFor="let product of listProducts">
        <app-card-product [product]="product"></app-card-product>
      </li>
    </ul>
  </div>

  <br>
  <nav>
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
        <a class="">{{ pageNumber }}</a>
      </li>
    </ul>
  </nav>
</div>
