    <div class="wrapimg" [routerLink]="['/details', product.slug]">
        <!-- imagen temporal -->
        <img src="{{'https://www.gravatar.com/avatar/' + product.slug+'?s=200&d=robohash'}}">
        <div class="addPro"> <a href="javascript:;">+ Add to shopping cart</a>
        </div>
    </div>
    <div class="titlePro"> <a href={{product.slug}}>{{ product.name }}</a>
        <span>{{product.price}}</span>
        <p class="descTitle">Localidad: {{product.location}}</p>
        <p class="descTitle">Creado: {{product.creationDate | date:'dd/MM/yyyy'}}</p>
        <p class="descTitle">Modificado: {{product.updateDate | date:'dd/MM/yyyy'}}</p>
        <p> {{product.description | lowercase}}</p>
    </div>
