<section class="categories"
infinite-scroll
[infiniteScrollDistance] = "2"
[infiniteScrollThrottle] = "50"
[infiniteScrollDisabled] = "disabled()"
(scrolled)="onScroll()">
    
  <div class="album py-5 bg-light">
    <div class="container" >

      <div class="row">
        <div class="col-md-4" *ngFor="let category of categories">
          <div class="card text-center mb-4" style="width: 18rem;">
            <div [routerLink]="['/shop/categories/', category.slug]" class="card-body">
              <i class="fas {{category.icon}} fa-2x"></i>
              <h5 class="card-title m-1">{{category.name_category}}</h5>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>


