<section class="container">


  <h1>Editar Perfil</h1>
  <form [formGroup]="settingsForm" (ngSubmit)="submitForm()">
    <fieldset [disabled]="isSubmitting">
      <input class="form-control" accept="image/png,  image/jpeg" type="file" placeholder="URL of profile picture"
        formControlName="image" />
      <input type="text" placeholder="Username" formControlName="username" />
      <textarea rows="8" placeholder="Short bio about you" formControlName="bio"></textarea>
      <input type="email" placeholder="Email" formControlName="email" />
      <input type="password" placeholder="New Password" formControlName="password" />
      <button type="submit">
        Modificar Datos
      </button>
    </fieldset>
  </form>

</section>
