$transition: width 1s,
height 2s,
border-color 1s,
background-color 1s,
color 1s;
$colorBualabob:teal;

/* Botton follow */
.button_unfollow {

  color: $colorBualabob;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: #ffffff;
  border: 1px solid;
  border-color: $colorBualabob;
  border-radius: 10px;
  width: 100px;
  height: 45px;
  cursor: pointer;

  transition: $transition;
  margin-bottom:20px;

}

/* Botton unfollow */
.button_follow {

  color: #fff;
  font-family: "Helvetica";
  font-size: 10pt;
  background-color: peru;
  border: 1px solid peru;
  // border-color: "#2EB82E";
  border-radius: 10px;
  width: 120px;
  height: 45px;

  cursor: pointer;
  transition: $transition;
  margin-bottom:20px;

  // background-color: teal;
}
