*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subheader{
  position: absolute;
  left: 0;
  width: 100%;
  background-color:#5AC0A9;
  color: white;
  text-align: center;

}
