<section class="container">
  <div class="profileUser">
    <fieldset>
      <legend><img [src]="'../../assets/images/'+profile.image" class="image-user"
          onerror="this.src='https://imagenes.lainformacion.com/files/image_606_387/uploads/imagenes/2019/12/17/5df8c3ce1b117.jpeg'" />
      </legend>

      <div class="name">
        <h1>{{profile.username | uppercase}}
          <fa-icon [icon]="faUserEdit" class="userEdit" [routerLink]="['/settings']" [hidden]="!isUser">
          </fa-icon>
        </h1>
      </div>
      <app-follow [hidden]="isUser" [profile]="profile" (toggle)="onToggleFollowing($event)">
      </app-follow>
      <div class="bio"><label>{{profile.bio }}</label></div>



      <ul id="list">
        <label>{{profile.following.length+" FOLLOWING"}}</label>
        <li *ngFor="let follow of profile.following " class="list-item">
          <div>
            <img [src]="'../../assets/images/'+follow.image" class="list-item-image"
              [routerLink]="['/profile', follow.username]">
          </div>
          <div class="list-item-content">
            <h4 [routerLink]="['/profile', follow.username]">{{follow.username}}</h4>

          </div>
        </li>
      </ul>
   <p></p>
      <ul id="list">
        <label>{{profile.followers.length+" FOLLOWERS"}}</label>
        <li *ngFor="let follow of profile.followers " class="list-item">
          <div>
            <img [src]="'../../assets/images/'+follow.image" class="list-item-image"
              [routerLink]="['/profile', follow.username]">
          </div>
          <div class="list-item-content">
            <h4 [routerLink]="['/profile', follow.username]">{{follow.username}}</h4>

          </div>
        </li>
      </ul>


    </fieldset>

  </div>
</section>

<br>
<a class="nav-link"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  [routerLink]="['/profile', profile.username]">
  My Products
</a>
<a class="nav-link"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  [routerLink]="['/profile', profile.username, 'favorites']">
  My Favorite Products
</a>

<router-outlet></router-outlet>
