<div class="container-m-nx container-m-ny theme-bg-white mb-4">
  <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
    <img [src]="'../../assets/images/'+profile.image" alt="" class="d-block ui-w-100 rounded-circle">
    <div class="media-body ml-5">
      <h4 class="font-weight-bold mb-4">{{profile.username | uppercase}}</h4>

      <div class="text-muted mb-4">
        {{profile.bio }}
      </div>
      
      <a href="javascript:void(0)" class="d-inline-block text-body">
        <strong>{{profile.followers.length}}</strong>
        <span class="text-muted"> followers</span>
      </a>
      <a href="javascript:void(0)" class="d-inline-block text-body ml-3">
        <strong>{{profile.following.length}}</strong>
        <span class="text-muted"> following</span>
      </a>
      
      &nbsp;

      <fa-icon [icon]="faUserEdit" class="userEdit" [routerLink]="['/settings']" [hidden]="!isUser">
      </fa-icon>
      
      <app-follow [hidden]="isUser" [profile]="profile" (toggle)="onToggleFollowing($event)">
      </app-follow>
    </div>
  </div>
  <hr class="m-0">
</div>

<div class="profile-content">
  <h4>Following</h4>
  <div class="row">
      <div class="col-xl-12">
          <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="profile-followers">
                  <div class="list-group" *ngFor="let follow of profile.following">

                      <div class="list-group-item d-flex align-items-center">
                          <img [src]="'../../assets/images/'+follow.image" [routerLink]="['/profile', follow.username]" alt="" width="50px" class="d-block ui-w-25 rounded-circle" />
                          <div class="flex-fill pl-3 pr-3">
                              <div><a class="text-dark font-weight-600" [routerLink]="['/profile', follow.username]">{{follow.username}}</a></div>
                          </div>
                          <app-follow [profile]="follow" (toggle)="onToggleFollowing($event)"></app-follow>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="profile-content">
  <h4>Followers</h4>
  <div class="row">
      <div class="col-xl-12">
          <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="profile-followers">
                  <div class="list-group" *ngFor="let follow of profile.followers">

                      <div class="list-group-item d-flex align-items-center">
                          <img [src]="'../../assets/images/'+follow.image" [routerLink]="['/profile', follow.username]" alt="" width="50px" class="d-block ui-w-25 rounded-circle" />
                          <div class="flex-fill pl-3 pr-3">
                              <div><a class="text-dark font-weight-600" [routerLink]="['/profile', follow.username]">{{follow.username}}</a></div>
                          </div>
                          <app-follow [profile]="follow" (toggle)="onToggleFollowing($event)"></app-follow>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<div class="profile-content mb-3">
  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <a class="nav-link text-dark"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/profile', profile.username]">
        My Products
      </a>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <a class="nav-link text-dark"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/profile', profile.username, 'favorites']">
        My Favorite Products
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>



