<section class="container">
  <div class="profileUser">
    <fieldset>
      <legend><img [src]="'../../assets/images/'+profile.image" class="image-user"
          onerror="this.src='https://imagenes.lainformacion.com/files/image_606_387/uploads/imagenes/2019/12/17/5df8c3ce1b117.jpeg'" />
      </legend>

      <div class="name">
        <h1>{{profile.username | uppercase}}    <fa-icon [icon]="faUserEdit" class="userEdit" [routerLink]="['/settings']" [hidden]="!isUser" >
        </fa-icon></h1>
      </div>
      <app-follow
            [hidden]="isUser"
            [profile]="profile"
            (toggle)="onToggleFollowing($event)">
      </app-follow>
      <div class="bio"><label>{{profile.bio }}</label></div>


    </fieldset>


  </div>
</section>
