

.container{
  margin-top:50px;
  width: 300px;

}
legend {
    margin:0 auto;
}
.image-user{
  width: 100px;
  height: auto;
  border: 1px solid gray;
padding:2px;
border-radius: 25%;
}

.bio{
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;

}


.userEdit{
 color: cadetblue;
}
.userEdit:hover{
  cursor: pointer;
  color: chartreuse;
}
