  <!-- product -->
  <div class="product-content product-wrap clearfix product-deatil">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="product-image">

          <div class="container">
            <app-carousel [listImages]="images"></app-carousel>
          </div>



        </div>

        <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
          <h2 class="name">
            {{product.name}}
            <small>Producto por <a [routerLink]="['/profile', product.id_user]">{{product.id_user}}</a></small>
            <!-- Hi hauria que modificar el id_user per el populate i ficar-li el nom -->
          </h2>
          <hr />
          <h3 class="price-container">
            {{product.price}}
            <small>*Gastos de envio gratuitos con Bualabob</small>
          </h3>

          <hr />
          <div class="description description-tabs">

            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="more-information">
                <br />
                <strong>Descripción del producto</strong>
                <p>
                  {{product.description}}

                </p>
              </div>

            </div>
          </div>
          <hr />

        </div>
      </div>
    </div>
    <!-- end product -->
  </div>
