<div class="container">
  <div class="form-group form-inline form-horizontal form-group-lg block d-flex justify-content-center">
    <div class="form-group">
      <select class="form-control input-lg mr-2" name="category" id="category" [(ngModel)]="ref_category" (change)="changeEvent(this)">
        <option disabled selected>Categoria</option>
        <option *ngFor="let category of listCategories" [value]="category.reference" [selected]='category.reference ==2'>
          {{category.name_category}}</option>
      </select>
    </div>
    
    <div class="form-group">
      <input class="form-control input-lg mr-2" type="search" id="location" [(ngModel)]="location" min="0" placeholder="Localidad" (input)="changeEvent(this)">
    </div>
  
    <div class="form-group">
      <input class="form-control input-lg mr-2"type="number" id="priceMin" [(ngModel)]="priceMin" min="0" step="10" placeholder="Precio Minimo" (input)="changeEvent(this)">
    </div>

    <div class="form-group">
      <input class="form-control input-lg mr-2" type="number" id="priceMax" [(ngModel)]="priceMax" min="0" step="10" placeholder="Precio Maximo" (input)="changeEvent(this)">
    </div>
  </div>
</div>

