/* Checkbox css */

.container-filter {
  // background-color:  rgb(94, 152, 211);
  // padding-left: 20px;
  // padding-right: 20px;

  // padding-bottom: 100%;
  // margin-left: -10px;
  // position:absolute
  position: absolute;
  margin-top:26px;
  left: 0;
  width: 100%;
  background-color: turquoise;
  color: white;
  text-align: center;

}

input{
  // accent-color: ;
  // accent-color: cornflowerblue;
}
