
  .comment-author-img{
    height: 35px;
border-radius: 100%;
border: solid 1px black;
margin-bottom: -14px;
  }

  .drop-me{
color:brown;

    &:hover{
      color:orangered;
cursor:pointer;
    }
  }


  .card:hover{

  }


  a{
    color:teal
  }
